* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo1 {
  color: rgb(49, 215, 155);
  font-size: 50px;
  margin: 20px 0;
}

.logo1 span {
  color: rgb(242, 242, 242);
}

.logo2 {
  color: rgb(49, 215, 155);
  font-size: 20px;
}

.logo2 span {
  color: rgb(242, 242, 242);
}
