body {
  background-color: rgb(214, 214, 214);
  color: rgb(30, 30, 30);
}

.hero {
  background: url('../images/hero-medium.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  height: 200px;
  margin: 5px;
  position: fixed;
  top: 0;
  width: 99.3vw;
}
